NEXT_PUBLIC_API_BASE_URL=/api/v1
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_METABASE_URL=http://analytics.localhost
NEXT_PUBLIC_REPOSITORY_URL=
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/fiord
NEXT_PUBLIC_SITE_URL=http://localhost:3000
